<header>
    <div class="container-grid posicionamento-header">
      <a href="">
        <img class="logo" src="../assets/img/logo.png" alt="Logo da Loja">
      </a>
      <form action="">
        <input id="pesquisa" type="string" placeholder="Buscar..." required>
        <button onclick="pesquisa()" class="botao-cadastrar">Pesquisar</button>
      </form>
      <nav id="menu" class="menu">
        <a href="">Quem Somos</a>
        <a href="">Fale Conosco</a>
        <a href="">Entra ou Cadastra</a>
        <a href="">Baixe o APP</a>
      </nav>
      <a href="#" id="carrinho">
        <img class="carrinho" src="../assets/img/ico-carrinho.png" alt="Icone do Carrinho">
      </a>
      <a href="#" id="barras">
        <img class="barras" src="../assets/img/bars.svg" alt="">
      </a>
    </div>
  </header>
  <section>
  <div class="carrosel" id="carrosel">
    <img src="../assets/img/banner_fifa.png" alt="Banner Fifa">
    <img src="../assets/img/banner_cs.jpeg" alt="Banner CS">
    <img src="../assets/img/banner_pilotos.jpg" alt="Banner Pilotos">
    <img src="../assets/img/banner_lol.jpg" alt="Banner Lol">
  </div>
  <div>
      <nav class="container-grid posicionamento-header">
        <form action="">
          <button onclick="promocoes()" class="botao-banner">PROMOÇÕES</button>
        </form>
        <form action="">
          <button onclick="maisvendidos()" class="botao-banner">MAIS VENDIDOS</button>
        </form>
        <form action="">
          <button onclick="lancamentos()" class="botao-banner">LANÇAMENTOS</button>
        </form>
        <form action="">
          <button onclick="destaques()" class="botao-banner">DESTAQUES</button>
        </form>
      </nav>
  </div>
  </section>
  <section class="secao-jogos">
    <div class="jogos container">
      <a href=""><img src="../assets/img/gta-22.jpg" alt="Logo do Counter Strike"></a>
      <a href=""><img src="../assets/img/league-of-legends.jpg" alt="Logo do Valorant"></a>
      <a href=""><img src="../assets/img/cs_go_icon.png" alt="Logo do League of Legends"></a>
      <a href=""><img src="../assets/img/Formula_1.png" alt="Logo do Fifa"></a>
      <a href=""><img src="../assets/img/fifa_22.png" alt="Logo da Formula 1"></a>
    </div>
  </section>
  
  <section class="secao-produtos-destaques">
    <div class="container">
      <div class="bloco-produtos-destaques">
        <h2>EM DESTAQUES</h2>
        <div id="secao-produtos-destaques" class="content-news">
            <div class="card" style="width: 18rem;">
                <img class="cardnewsimg" src="../assets/img/cardnews.jpg" alt="cardnews">
                <div class="cardnews">
                  <h3 class="card">The Division</h3>
                  <p class="card">Tom Clancy's The Division</p>
                  <button type="button" class="botao-comprar">COMPRAR</button>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img class="cardnewsimg" src="../assets/img/cardnews.jpg" alt="cardnews">
                <div class="cardnews">
                  <h3 class="card">The Division</h3>
                  <p class="card">Tom Clancy's The Division</p>
                  <button type="button" class="botao-comprar">COMPRAR</button>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img class="cardnewsimg" src="../assets/img/cardnews.jpg" alt="cardnews">
                <div class="cardnews">
                  <h3 class="card">The Division</h3>
                  <p class="card">Tom Clancy's The Division</p>
                  <button type="button" class="botao-comprar">COMPRAR</button>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img class="cardnewsimg" src="../assets/img/cardnews.jpg" alt="cardnews">
                <div class="cardnews">
                  <h3 class="card">The Division</h3>
                  <p class="card">Tom Clancy's The Division</p>
                  <button type="button" class="botao-comprar">COMPRAR</button>
                </div>
              </div>
        </div>
      </div>
    </div>
  </section>
  <section class="secao-produtos-destaques">
    <div class="container">
      <div class="bloco-produtos-destaques">
        <div id="secao-produtos-destaques" class="content-news">
            <div class="card" style="width: 18rem;">
                <img class="cardnewsimg" src="../assets/img/cardnews.jpg" alt="cardnews">
                <div class="cardnews">
                  <h3 class="card">The Division</h3>
                  <p class="card">Tom Clancy's The Division</p>
                  <button type="button" class="botao-comprar">COMPRAR</button>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img class="cardnewsimg" src="../assets/img/cardnews.jpg" alt="cardnews">
                <div class="cardnews">
                  <h3 class="card">The Division</h3>
                  <p class="card">Tom Clancy's The Division</p>
                  <button type="button" class="botao-comprar">COMPRAR</button>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img class="cardnewsimg" src="../assets/img/cardnews.jpg" alt="cardnews">
                <div class="cardnews">
                  <h3 class="card">The Division</h3>
                  <p class="card">Tom Clancy's The Division</p>
                  <button type="button" class="botao-comprar">COMPRAR</button>
                </div>
              </div>
              <div class="card" style="width: 18rem;">
                <img class="cardnewsimg" src="../assets/img/cardnews.jpg" alt="cardnews">
                <div class="cardnews">
                  <h3 class="card">The Division</h3>
                  <p class="card">Tom Clancy's The Division</p>
                  <button type="button" class="botao-comprar">COMPRAR</button>
                </div>
              </div>
        </div>
      </div>
    </div>
  </section>
  <section class="secao-sobre">
    <div class="conteudo-sobre container">
      <div class="row">
        <div class="texto-sobre col">
          <h2>Venha nos Visitar na loja física</h2>
          <p>A Gamer Mania é uma loja especializada em Games. Nesses ultimos anos procuramos proporcionar momentos felizes na vida de milhares de pessoas que passaram pela nossa loja fisica trazendo também a loja virtual, sem deixar o antigo para trás, sem deixar que o novo se torne o único, porque entendemos que único são vocês, nossos clientes, nossa família. Venha conhecer a Gamer Mania, uma empresa que tem como responsabilidade a satisfação de seus clientes.</p>
        </div>
        <div class="container-video col">
          <div class="video" alt="Video aleatorio simulando video de apresentação da loja">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/N03lTxBBQhE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>
    
  <footer>
    <div class="container rodape">
      <div class="links-footer">
        <div class="links">
          <h2>Atendimento</h2>
          <ul>
            <li><a href="#">Horário de Atendimento</a></li>
            <li><a href="#">10:00 as 22:00</a></li>
            <li><a href="#">Telefones da Loja</a></li>
            <li><a href="#">(96)99152-5636</a></li>
            <li><a href="#">(96)99152-5633</a></li>
          </ul>
        </div>
        <div class="links">
          <h2>Institucional</h2>
          <ul>
            <li><a href="#">Quem Somos</a></li>
            <li><a href="#">Fale Conosco</a></li>
            <li><a href="#">Politica de Privacidade</a></li>
            <li><a href="#">Trabalhe conosco</a></li>
            <li><a href="#">Baixe o APP</a></li>
          </ul>
        </div>
      </div>
      <div class="logo-rodape">
        <img src="../assets/img/logo1-semfundo.png" alt="Logo E-players">
      </div>
      <div class="sociais">
        <h2>Faça parte do nosso clan, receba noticias e promoções!</h2>
        <form action="">
          <input id="campo-email" type="email" placeholder="E-mail" required>
          <button onclick="enviarEmail()" class="botao-cadastrar">Cadastrar</button>
        </form>
        <div class="siga-nos">
          <h2>Siga-nos em:</h2>
          <li><a href="#"><img src="../assets/img//insta.png" alt="Logo do insta"></a></li>
          <li><a href="#"><img src="../assets/img/face.png" alt="Logo do face"></a></li>
          <li><a href="#"><img src="../assets/img/youtube.png" alt="Logo do youtube"></a></li>
        </div>
      </div>
    </div>
  </footer>
<router-outlet></router-outlet>
