@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-grid {
  display: flex;
  justify-content: space-between;
  width: 1200px;
  height: 100%;
  margin: auto;
  align-items: center;

}

header {
  background-color: #001622;
  height: 80px;
}

.logo {
  position: relative;
  display: flex;
  height: 80px;
}

.carrinho {
  display: flex;
  height: 50px;
}

.menu a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

.menu {
  width: 660px;
  display: flex;
  justify-content: space-between;
}

.banner {
  background-image: url(../img/banner.png);
  height: 1600px;
  background-repeat: none;
  background-size: cover;
}

#carrosel img {
  position: relative;
  display: none;
  width: 1600px;
}

.banner-ativo {
  display: flex;
}

.texto-banner {
  width: 495px;
  color: white;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 25px;
}

.texto-banner h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 70px;
  font-weight: bold;
}

.texto-banner a {
  background-color: #C31616;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  padding: 15px;
  border-radius: 5px;
}

.texto-banner p {
  margin-bottom: 50px;
}

.posicao-texto {
  justify-content: flex-end;
}

.secao-jogos {
  background-color: black;
}

.jogos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jogos img {
  width: 140px;
}

.secao-sobre {
  background-image: url(assets/img/Fundo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.texto-sobre {
  color: rgb(252, 241, 241);
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.video {
    display: flex;
    flex-direction: column;
    justify-content: right;
  }

.barras {
  width: 30px;
  display: none;
}

.secao-produtos-destaques {
  background-color: #001622;
  padding: 30px 0;
}

.secao-produtos-destaques .container {
  display: flex;
  justify-content: space-between;
}

.bloco-produtos-destaques {
  width: 70%;
  height: 90%;
  color: white;
}

.bloco-produtos-destaques h2 {
  font-size: 25px;
}

.content-news {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 25px;
}

.cardnewsimg {
    width: 286px;
    height: 180px;
    color: #fff;
    margin-bottom: 0px;
    background: var(--gradient);
    box-shadow: 0px 0px 10px #7B1D88, 0px 0px 10px #7B1D88;
  }

.cardnews {
  width: 286px;
  height: 180px;
  color: #fff;
  margin-bottom: 40px;
  background: var(--gradient);
  box-shadow: 0px 0px 10px #7B1D88, 0px 0px 10px #7B1D88;
}

.cardnews h3 {
  padding-left: 20px;
  padding-top: 5px;
  font-size: 24px;
}

.cardnews p {
  padding-left: 28px;
  font-size: 20px;
}

.botao-comprar {
    width: 200px;
    color: white;
    background-color: #057005;
    justify-content: center;
    height: 10%;
    margin-top: 8px;
}

footer {
  background-color: #001622;
}

.rodape {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
}

.links {
  color: white;
}

.links h2 {
  font-size: 24px;
}

.links a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

.links-footer {
  display: flex;
  justify-content: space-between;
  width: 400px;
}

.logo-rodape {
  width: 300px;
}

.sociais h2 {
  color: white;
  font-size: 14px;
  margin-bottom: 8px;
}

.sociais form {
  display: flex;
  margin-bottom: 8px;
}

.sociais input[type="email"]::placeholder {
  color: #B8B3b3;
  font-weight: bold;
}

.botao-cadastrar {
  width: 156px;
  color: white;
  background-color: #7B1D88;
  justify-content: space-between;
  margin-top: 0.8em;
}

.botao-banner {
  width: 156px;
  color: white;
  background-color: #7B1D88;
  justify-content: space-between;
  margin-top: 0.8em;
}

.siga-nos {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.8em;
}



@media screen and (max-width: 1200px) {
  .container-grid {
    width: 90%;
  }

  .menu a {
    font-size: 16px;
  }

  .logo {
    width: 200px;
  }
}

@media screen and (max-width: 768px) {
  h1 {
    color: blue;
  }

  .barras {
    display: inline-block;
  }

  .menu {
    display: none;
    flex-direction: column;
    width: 200px;
    height: 250px;
    position: absolute;
    top: 0;
    right: 100;
    background-color: black;
  }

  .menu a {
    text-align: center;
    padding: 15px;
  }

  .menu-ativo {
    display: flex;
  }

  .posicionamento-header {
    position: relative;
  }
}
